header {
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    header {
        background-size: contain; /* Adjusting background size for smaller screens */
    }
}
.nav li a {
    font-size: 14px; /* Decreasing font size for smaller screens */
    padding: 8px 12px; /* Adjusting padding for smaller screens */
}

@media (min-width: 768px) {
    .nav li a {
        font-size: 16px; /* Restoring font size for larger screens */
        padding: 8px 16px; /* Restoring padding for larger screens */
    }
}
.title p {
    font-size: 36px; /* Decreasing font size for smaller screens */
}

@media (min-width: 768px) {
    .title p {
        font-size: 70px; /* Restoring font size for larger screens */
    }
}
.about-us-container {
    padding: 20px; /* Adjusting padding for smaller screens */
    height: auto; /* Allowing height to adjust dynamically */
    flex-direction: column; /* Stacking columns vertically for smaller screens */
}
.button {
    padding: 12px 24px; /* Adjusting padding for smaller screens */
    font-size: 14px; /* Decreasing font size for smaller screens */
}

@media (min-width: 768px) {
    .button {
        padding: 15px 32px; /* Restoring padding for larger screens */
        font-size: 16px; /* Restoring font size for larger screens */
    }
}
.contact-container {
    padding: 40px; /* Adjusting padding for smaller screens */
}

.subtext {
    font-size: 16px; /* Decreasing font size for smaller screens */
}

@media (min-width: 768px) {
    .contact-container {
        padding: 100px; /* Restoring padding for larger screens */
    }

    .subtext {
        font-size: 20px; /* Restoring font size for larger screens */
    }
}

header {
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    header {
        background-size: contain; /* Adjusting background size for smaller screens */
    }
}
.nav li a {
    font-size: 14px; /* Decreasing font size for smaller screens */
    padding: 8px 12px; /* Adjusting padding for smaller screens */
}

@media (min-width: 768px) {
    .nav li a {
        font-size: 16px; /* Restoring font size for larger screens */
        padding: 8px 16px; /* Restoring padding for larger screens */
    }
}
.title p {
    font-size: 36px; /* Decreasing font size for smaller screens */
}

@media (min-width: 768px) {
    .title p {
        font-size: 70px; /* Restoring font size for larger screens */
    }
}
.about-us-container {
    padding: 20px; /* Adjusting padding for smaller screens */
    height: auto; /* Allowing height to adjust dynamically */
    flex-direction: column; /* Stacking columns vertically for smaller screens */
}
.button {
    padding: 12px 24px; /* Adjusting padding for smaller screens */
    font-size: 14px; /* Decreasing font size for smaller screens */
}

@media (min-width: 768px) {
    .button {
        padding: 15px 32px; /* Restoring padding for larger screens */
        font-size: 16px; /* Restoring font size for larger screens */
    }
}
.contact-container {
    padding: 40px; /* Adjusting padding for smaller screens */
}

.subtext {
    font-size: 16px; /* Decreasing font size for smaller screens */
}

  
@media (min-width: 768px) {
    .contact-container {
        padding: 100px; /* Restoring padding for larger screens */
    }

    .subtext {
        font-size: 20px; /* Restoring font size for larger screens */
    }
}



/* Footer background color and text color */
footer {
    background-color: #090b0c; /* Primary color */
    color: #fff; /* White text color */
    height: 50%; /* Set height to 50% of its container */
  }
  
  /* Padding for the footer content */
  footer .container {
    /* padding: 0.75rem 1.5rem; Adjusted padding */
  padding-left: 10px;
  padding-right: 10px;
  }
  
  /* Footer links color and hover effect */
  footer a {
    color: #fff; /* White color for links */
  }
  
  footer a:hover {
    color: #ccc; /* Light grey color on hover */
  }
  
  /* Footer buttons */
  footer .btn-floating {
    margin-right: 0.5rem; /* Space between buttons */
  }
  
  /* Form input style */
  footer input[type="text"] {
    background-color: transparent; /* Transparent input background */
    border: none; /* No border */
    border-bottom: 1px solid #fff; /* White bottom border */
    color: #fff; /* White text color */
    
  }
  
  /* Form input label style */
  footer .form-label {
    color: #cec4c4; /* White label color */
  }
  
  /* Table style for opening hours */
  table {
    width: 100%; /* Full width */
    background-color: #c1baba; /* White background color */
    color: #000; /* Black text color */
    border-collapse: collapse; /* Collapse borders */
  }
  
  /* Table header style */
  table th {
    padding: 0.5rem;
    border-bottom: 1px solid #ccc; /* Grey bottom border */
  }
  
  /* Table cell style */
  table td {
    padding: 0.5rem;
    border-bottom: 1px solid #ada9a9; /* Grey bottom border */
  }
  
  /* First column style */
  table td:first-child {
    font-weight: bold; /* Bold font for day names */
  }
  
  
  /* Copyright section style */
  footer .p-3 {
    background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent background */
  }
  
  /* Grid layout for footer sections */
  footer .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 10fr)); /* Responsive columns */
    gap: 2rem; /* Gap between columns */
  }
  
  /* Grid item style */
  footer .col-lg-4 {
    flex: 1;
    max-width: 33%; /* Maximum width for each column */
  }
  





.contact-container, footer {
    text-align: center;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 10px;
  }
  .contact-section {
    display: inline-block;
    padding: 100px;
    background-color: rgb(245, 243, 241);
    align-items: center;
  }
  .up-arrow-section {
    display: flex;
  }
  
  .social-icons {
    list-style: none;
    /* padding: 0; */
    display: flex;
  }
  
  .social-icons li {
    margin-right: 10px;
  }
  
  .social-icons li:last-child {
    margin-right: 0;
  }
  
  footer {
    background-color: black;
    padding: 0;
  margin: 0;
  }
  .follow-us {
    color: white;
  }
  
  .up-arrow-section {
    display: inline-block;
    padding-top: 1px;
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: column;

  }
  .up-arrow {
    font-size:36px !important;
    color: rgb(141, 135, 135);
  }
  .subtext {
    font-size: 20px;
    padding-bottom: 16px;
  }
.visti-text {
    padding-top: 16px;
}
  .card {
    transition: 0.3s;
    display: inline-flex;
    padding: 16px;
    border: 2px solid rgb(124, 84, 13);
    cursor: pointer;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(10, 10, 10, 0.2);
  }
  
  .contactNumber, .address {
    display: flex;
    padding: 2px 16px;
    color: rgb(5, 5, 5);
  }
  .phone-icon {
    transform: scaleX(-1);
    padding-right: 8px;
  }
  .contactNumber p, .address p {
    padding-left: 8px;
  }




  /* Table style for opening hours */
footer table {
    width: auto; /* Adjusted width to fit content */
    max-width: 100%; /* Maximum width */
  }
  
  /* Table cell padding */
  footer td {
    padding: 0.5rem;
  }
  
  /* Table border color and style */
  footer table, footer td {
    border: 1px solid #fff; /* White border */
  }
  

  /*for responsive page added this code*/
  /* @media (min-width: 414px) {}
  @media (min-width: 640px) {}
  @media (min-width: 768px) {}
  @media (min-width: 1024px) {}
  @media (min-width: 1280px) {}
  @media (min-width: 1536px) {} */

  